<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>

<app-aladin [data]="data" *ngIf="data.aladin"></app-aladin>

<div class="grid-container" *ngIf="data.show">
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" class="zoom">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1 class="title-text">{{data.name}} </h1>
      <p> Un lot de {{data.qty}}  <span>{{data.name}}</span> à  {{data.price}} XOF</p>
      </div>
      <div class="description">
        <div class="description-text">
          <ul>

          </ul>
        
        </div>
        <div class="size">
          Taille :
              <ul>
                <li>{{data.size}}</li>
                 
              </ul>
              
        </div>
       


       
</div>
<style>
  a{
    text-decoration: none;
  }
</style>
<div class="btn " (click)="reload(Changevalue)"> 
  <a >
      Retour    
      </a></div>

      <div class="btn bt" > 
        <a  (click)="go(data)">
        Je Personnalise
      </a>
    </div>

    
    </div>

  </div>
</div>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}
       </p>
      </div>

    </div>
  </div>
</div>






