<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-header *ngIf="cacheClothes"></app-header>
<body>
<div class="container-flex " style="position: sticky;" *ngIf="cacheClothes">
  <app-header-categorie ></app-header-categorie>
</div>

<app-creation *ngIf="CacheCrea" [url]="imagepreview" (changecomponent)="getComponent($event)"></app-creation>

<app-description [data]="details" (changeComponent)="ChangeComponent($event)"></app-description>

<div class="container" *ngIf="cacheClothes">
    <div id="body">
      <div class="row">
       <div>
         <h1>NOTRE GAMME  <span>  DE VETEMENTS</span></h1>
         <br>
         <p style="color:#324161;font-weight:bold;">{{data}}</p>
       </div>
      </div>
    </div>
    <style>
     
    </style>
    <div class="section-personnalisation">
      
      <div class="card-columns">
          
            <div class="card">
              <div class="card-body">
                <button >
                  <label for="file">
                  <div class="imag">
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  </div>
              
                <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
                <h6 style="color: #324161;">Je veux imprimer ma créa!!!</h6>
              </label> 
              <input type="file" class="file-upload" name="files" id="file" (change)='Upload($event)'>
            
            </button>
              </div>
             
            </div>
     
  
        <div class="card"  *ngFor="let item of produit">
       
          <div class="img">
            <img class="im" [src]="item.url">
          </div>
          <div class="middle">
            <a class="text btn"  (click)="showDetails(item)">
            Je personnalise
            </a>
          </div>
          <div class="card-body">
            <p style="font-size: 12px;" hidden>{{item.name}}</p>
           <p class="prix"> <del ><strong style="color: red;">{{item.price}} fcfa</strong></del>
             <span style="margin:6px">{{item.promo}} fcfa</span></p>
          </div>
        </div>
  
       
      </div>
    </div>



  </div>

</body>
<app-footer *ngIf="cacheClothes"></app-footer>
