
<div class="row" *ngIf="showcloth">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3" style="text-align: justify; font-family: 'Times New Roman', Times, serif;">Catégorie Vetement</h1>
        </div>
      </div>
      <app-aladin-designs-clothes ></app-aladin-designs-clothes>
</div>
   
<hr>
<div class="row" *ngIf="showpack">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3" style="text-align: justify; font-family: 'Times New Roman', Times, serif;">Catégorie Emballage</h1>
        </div>
      </div>
      <app-aladin-designs-packs></app-aladin-designs-packs>

</div>
    
