<app-header></app-header>

<body>
  <div class="text">
    <p>Récapitulatif de la commande</p>
  </div>
  <div class="image">
    <img src="assets/image/Lampe pas de commande.png" alt="">
  </div>
  <div class="text-bas">
    <p>Il n'y a aucune commande</p>
    <button class="btn btn-lg btn-primary">Continuer mes achats</button>
  </div>
</body>



<app-footer></app-footer>
