<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-header></app-header>

<div class="container-fluid" style="position: sticky;">
  <app-header-categorie ></app-header-categorie>
</div>



<body>
  
  <div class="container" *ngIf="shw">

    <div id="body" >
      <div class="row">
        <div class="col-sm-6 box-image">
          <img src="assets/image/j.png" alt="">
        </div>
  
        <div class="col-sm-6 box-text">
          <p>Les meilleurs emballages aux meilleurs Prix</p>

          <div class="decouvrir">
            <a style="color: white;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    
    <div class="section-personnalisation" id="view">
      
      <div class="card-columns">
          
            <div class="card">
              <div class="card-body" *ngIf="showchoices==false" >
                <button (click)="displaychoices()">
                  <label for="file">
                  <div class="imag">
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  </div>
              
                <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
                <h6 style="color: #324161;">{{text}}</h6>
              </label> 
              <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" disabled hidden>
            
            </button>
              </div>


              <div class="card-body" *ngIf="showchoices">
                <button >
                  <label for="file">
                  <div class="imag">
                  <i class="far fa-images fa-4x"  style="color: brown;"></i>
                  
                  <i class="far fa-images fa-4x"  style="color: brown;"></i>
                  </div>
              
                <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
                <h6 style="color: #324161;">{{text}}</h6>
              </label> 
              <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" *ngIf="estsac" hidden>
              <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)" *ngIf="estsachet" hidden>

            
            </button>
              </div>

              
            <div class="card-footer" *ngIf="showchoices" style="position: relative; margin: 2x;">

            

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="bache" (click)="OnclickSac()" [(ngModel)]="estsac">
                <label class="form-check-label" for="bache">Sac</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="Vinyle" (click)="OnclickSachet()" [(ngModel)]="estsachet">
                <label class="form-check-label" for="Vinyle">Sachet</label>
              </div>


              
            </div>
             
            </div>
     
        <div class="card" *ngFor="let item of packs">
          <div class="img">
            <img class="im" [src]="item.img">
          </div>
          <div class="middle">
            <a class="text btn" [id]="item.pack_id" (click)="showDetails($event)">
            Je personnalise
            </a>
          </div>
          <div class="card-body">
            <p style="font-size: 12px;"></p>
           <p class="prix"> 1 packet de {{item.qty}} {{item.name_packaging}} à<strong> {{item.price}} XOF</strong></p>
          </div>
        </div>
   
       
      </div>
    </div>

  </div>

  <app-description [data]="details" (changeComponent)="ChangeComponent($event)" (showaladin)="Showaladin($event)"></app-description>


</body>



<app-creation *ngIf="crea" [url]="uploadedurl" (changecomponent)="letchange($event)" [sac]="estsac" [sachet]="estsachet" ></app-creation>
<br>
<br>
<br>
<br>
<br>
<br>  
<br>
<br>

<app-footer></app-footer>
