



<div  class="col-md-1 col-sm-1  col-xs-1 col-lg-1" style="margin-top:5px;margin-left:10px;" id="i">
    <img [src]="URL" height="40" width="40" style="float: left;background: #fff !important;" (click)="addNewItem($event)" [id]="Front" class="zoom">  
    <img [src]="face1" height="40" width="40" style="float: left;background: #fff !important;" (click)="addNewItem($event)" [id]="Back" class="zoom">     
</div>