
<!--Nav bar editor-->
<nav>
    <ul class="nav-bar" style=" display:flex">
      <li class="nav-link ">
        <a href="">
       <img src="assets/image/logo1.png" width="100" alt="">
      </a>
      </li>
      <li class="nav-link link">
        <i class="fal fa-undo-alt fa-2x" role="button" id="undo" disabled (click)="Undo()"></i>
       <p>Annulé</p>
      </li>
      <li class="nav-link link">
        <i class="fal fa-redo-alt fa-2x" role="button" id="redo" disabled (click)="Redo()"> </i>
       <p>Retablir</p>
      </li>
      <li class="nav-link link">
        <i class="fad fa-layer-group fa-2x" role="button" (click)="sendBack()"></i>
       <p>A l'arrière</p>
      </li>
      <li class="nav-link link">
        <i class="fas fa-layer-group fa-2x" role="button" (click)="sendForward()"></i>
       <p>A l'avant</p>
      </li>
      <li class="nav-link link">
        <i class="far fa-clone fa-2x" (click)="duplicate()" role="button"></i>
       <p>Dupliquer</p>
      </li>
      <li class="nav-link link">
        <i class="far fa-trash-alt fa-2x" (click)="removeItem()" role="button"></i>
       <p>Supprimé</p>
      </li>
      <li class="nav-link link">
        <i class="fal fa-save fa-2x" role="button"></i>
       <p>Enregistré</p>
      </li>
      <li class="btn bt" >
        <a role="button">continuer</a>
       </li>
    </ul>
  </nav>
  <!--bouttons-->
  <div class="row" style="margin:6px;">
    <div class="col-1">
      <div class="row bout">
        <a  data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="true" aria-controls="collapseExample">
          <i class="fal fa-tshirt fa-2x"></i>
         <p>Produits</p> 
        </a>
      </div>
      <div class="row  bout">
        <a  data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="far fa-text fa-2x"></i>
         <p>Texte</p> 
        </a>
      </div>
      <div class="row  bout">
        <a  data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fal fa-shapes fa-2x"></i>
          <p>Formes</p> 
        </a>
      </div>
      <div class="row  bout">
        <a  data-bs-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fal fa-book fa-2x"></i>
          <p>Modeles</p> 
         </a>
      </div>
      <div class="row  bout">
       
        <a role="button" data-bs-toggle="modal" data-bs-target="#import">
       
        <i class="fal fa-download fa-2x"></i>
        <p>Importer</p>
      </a>
      
      </div>
    </div>
    <!--affichage des elements-->
    <div class="col-3">
        
        <div class="collapse" id="collapse1">
          <h1>Les produits</h1>
          <div class="row row-cols-3">
          
              
        
  
  
                  <div class="col-2" *ngFor="let item of products">
                    <div class="card" >
                      <a role="button" (click)="loadCanvas(item.item)">
                        <img class="img" src="{{item.url}}">
                        </a>
                        <div class="card-body">
                          <h5><strong><p>{{item.name}}</p> a partie de  {{item.price}}</strong> </h5>
                        </div>
                    </div>
                  </div>
  
  
                 
                          
              
            </div>  
          </div>   
  
  
      <div class="row">
        <div class="collapse" id="collapse2">
          <h1>Pallette</h1>
          <div class="card card-body">
          <div class="row">
              <div class="input">
                <input type="text" class="form-control" name="inputcange"   [(ngModel)]="text" (input)="InputChange(text)">
              </div>
              <!--couleur-->
  
              <div class="palette">
                <!---couleurs-->
               
                <div class="cou">
                  <a role="button"  data-bs-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-circle fa-x fat"></i>
                   
                  </a>
                </div>
               
  
                <div class="cou">
                  <a role="button" (click)="addText()">
                    <i class="fas fa-text fa-x fat "></i>
                  </a>
                </div>
  
  
  
                <div class="cou">
                  <a role="button" (click)="makeBold()">
                    <i class="fas fa-bold fa-x fat "></i>
                  </a>
                </div>
                <div class="cou">
                  <a role="button" (click)=" makeItalic()">
                    <i class="fas fa-italic fa-x fat"></i>
                  </a>
                </div>
                <div class="cou">
                  <a role="button" (click)="textAlign(textalign[3])">
                    <i class="fas fa-align-right fa-x fat "></i>
                  </a>
                </div>
                <div class="cou">
                  <a role="button" (click)="textAlign(textalign[0])">
                    <i class="fal fa-align-left fa-x fat"></i>
                  </a>
                </div>
  
              <div class="cou">
                <a role="button" (click)="textAlign(textalign[1])">
                  <i class="fas fa-align-center fa-x fat"></i>
                 </a>
              </div>
              <div class="cou">
                <a role="button" (click)="textAlign(textalign[2])">
                  <i class="fas fa-align-justify fa-x fat"></i>
                 </a>
              </div>
            </div>
             <!--couleur police-->
             <div class="collapse" id="collapse7">
              <div class="card card-body">
                <h6>couleur de police</h6>
                <div class="couleur" style=" background: rgb(23, 100, 145)! important;">
                  <color-circle [colors]="colors" (onChange)="texteclor($event)"></color-circle>
  
                </div>
              </div>
            </div>
            <!--police font-->
            <div class="selected">
              <select class="form-control" name="" id="" >
                <option value=""><strong>Aria</strong></option>
                <option value=""><strong>Roboto</strong></option>
                <option value=""><strong>Times</strong></option>
                <option value=""><strong>Pappins</strong></option>
                <option value=""><strong>Aria</strong></option>
              </select>
            </div>
            <!--taille de police-->
             <div class="taille" style="display: flex;">
                <div class="tete">
                  <h6>taille de la police</h6>
                </div>
                <div class="plus tete">
                  <a role="button"  class="point">
                     <i class="fal fa-minus-circle fa-2x"></i>
                  </a>
                </div>
                <div class="tete">
                  <a role="button" class="point">
                    <strong style="font-weight: bold;">{{textsize}} pts</strong>
                  </a>
                </div>
                <div class="tete">
                  <a class="point" role="button">
                    <i class="fal fa-plus-circle fa-2x" (click)="textwidth()"></i>
                 </a>
                </div>
             </div>
             
            </div>
            <div class="range" >
              <label for="customRange2" class="form-label">courber le texte</label>
               <input type="range" class="form-range" min="0" max="500" id="customRange2">
             </div>
          </div>
        </div>
      </div>
      <div class="row forms">
        <div class="collapse" id="collapse3">
          <h1>Les formes</h1>
          <div class="card card-body">
            <div class="row row-cols-3">
          
                <div class="col-2"  >
                  <div class="card" >
                    <a role="button">
                      <img class="img" *ngFor='let item of clipart' [src]="item.url" (click)="setItem($event)">
                      </a>
                      
                  </div>
                  </div>
                  
            
            </div> 
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="collapse" id="collapse4">
          <h1>Les Modeles</h1>
          <div class="card card-body">
            <div class="row row-cols-3">
          
                
                <div class="col-2" *ngFor="let item of models">
                  <div class="card" >
                    <a role="button">
                      <img class="img" src="{{item.url}}" (click)="loadCanvas(item.item)" style="  max-width: 100%;  object-fit: cover;">
                      </a>
                      
                      <div class="card-body">
                        <h5> <p>{{item.name}}</p> {{item.price}}</h5>
                      </div>
                  </div>
  
  
  
                  </div>
  
                  
                  
      
              </div> 
          </div>
        </div>
      </div>
    </div>
    <!--images-->
    <div class="col-8" >
      
      <div class="mg mg1" role="button">
        <img class="marg" src="assets/image/fuck.png" width="100" alt="">
      </div>
    
      <div class="mg mg2" role="button">
        <img class="marg" src="assets/image/fuck.png" width="100" alt="">
      </div>
     
      <div class="grang">
        <canvas id="aladin">
  
        </canvas>
        <canvas id="test" hidden style="position: fixed; visibility: hidden;"></canvas>
    </div>
    </div>
  </div>
  <!--modale-->
  <div class="modal fade" id="import" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Importer une Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;" *ngIf="cacheimg">
          <div class="ody" >
            <label for="file">
              <a role="button" class="btn btne">importer une image</a>
            </label>
            <h6><strong>importer une image</strong></h6>
            <h6>Format de fichier: <strong>PNG, JPG, BMP, SVG</strong></h6>
            <h6>Taille de l'image: <strong>10 Mo Max</strong> </h6>
            <input type="file" name="" id="file" (change)="Uplade($event)" hidden>
         </div>
         
        
        </div>
        <div class="image" style="text-align: center;" *ngIf="cacheimg1">
          <img class="view" [src]="viewimage" width="500" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onFileUpload($event)">ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile" >
    <li class="nav-link lin " title="annulé">
      <i class="fal fa-undo-alt fa-x" (click)="Undo()"></i>
  
    </li>
    <li class="nav-link lin" title="retablir">
      <i class="fal fa-redo-alt fa-x" (click)="Redo()"></i>
   
    </li>
    <li class="nav-link lin">
      <i class="fad fa-layer-group fa-x" (click)="sendBack()"></i>
    
    </li>
    <li class="nav-link lin">
      <i class="fas fa-layer-group fa-x" (click)="sendForward()"></i>
     
    </li>
    <li class="nav-link lin" title="dupliquer" >
      <i class="far fa-clone fa-x" (click)="duplicate()"></i>
     
    </li>
    <li class="nav-link lin" title="supprimer">
      <i class="far fa-trash-alt fa-x" (click)="removeItem()"></i>
     
    </li>
    <li class="nav-link lin" title="Enregistrer">
      <i class="fal fa-save fa-x"></i>
     
    </li>
  </div>
 
  